/*Geral*/
body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header img {
    height: 35px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #545454;
    font-weight: 500;
}

.icon {
    height: 18px;
    margin-left: 14px;
    cursor: pointer;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 400;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a,
header .header-icons a {
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
}

header .header-icons {
    display: flex;
}

header .header-icons a {
    margin-left: 20px;
    font-size: 0.9em;
}

.hero {
    position: relative;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;  
    background-image: url('../images/hero.jpg'); 
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}

.hero-content {
    position: relative; 
    z-index: 2;
}

.hero h1 {
    font-size: 5em; 
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero .button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 1em;
    color: white;
    margin-top: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.hero .button:hover {
    background-color: white;
    color: black;
}

/*Secção 2*/
.funcionamento {
    padding: 40px 0;
    gap: 40px;
    background-color: #545454;
    color: #f5f0f0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;      
    justify-content: space-around; 
    align-items: center;       
    gap: 40px;                 
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;}

.text {
    flex-basis: 45%; 
    max-width: 550px; 
    font-family: 'Urbanist', sans-serif;
}

.funcionamento h2 {
    font-size: 4.5em;
    font-weight: 400;
    color: #fdeff2;
    margin: 0;
    margin-bottom: 25px;
}

.text p {
    font-size: 1.3em;
    line-height: 1.7;
    margin-bottom: 35px;
}

.funcionamento h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #fdeff2;
    font-size: 2em;
    font-weight: 400;
    margin-top: 20px;
}

.points {
    background-color: #a6b2a1;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
}

.polaroid {
    flex-basis: 45%;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 600px; 
}

.polaroid img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width: 450px;
    height: auto;
}


/* formulário */
.formulario {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.formulario h2 {
    font-family:'Urbanist', sans-serif;
    font-style: normal;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 30px;
}

.formulario form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input {
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.formulario input[type="text"],
.formulario input[type="email"] {
    background-color: #fdeff2;
}

.formulario button {
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    background-color: #545454;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: #333;
}

/* Banner */
.banner {
    background-color: #c9d4c8;
    color: #5e6b5d;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

/* última secção */
.curiosidades {
    background-color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    padding: 60px 0;
}

.curiosidades .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; 
    margin: 0 auto;
}

.curiosidades h2 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 4.5em;
    font-weight: 400;
    color: #545454;
    margin: 0;
    margin-bottom: 0;
}

.curiosidades p { 
    font-size: 1.3em;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 35px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 120px; 
    max-width: 1300px;
    margin: 10px 0 auto 0;
    text-align: left; 
    padding: 0 20px;
}

.fotos {
    flex-basis: 50%; 
    max-width: 450px;
    background-color: #fdeff2; 
    border-radius: 6px;
    overflow: hidden;
}

.fotos img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.fotos h3 {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 700;
    color: #545454;
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

.fotos p {
    font-size: 1em;
    line-height: 1.5;
    padding: 15px;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}


@media (max-width: 768px) {

    header {
        padding: 15px 20px; 
    }

    nav a {
        display: none; 
    }

    nav img.icon {
        display: none; 
    }

    nav img.icon:first-of-type {
        display: inline-block;
        margin-left: 0;
    }

    .hero {
        height: 75vh;
        padding-top: 120px; 
    }

    .hero h1 {
        font-size: 2.8em; 
    }

    .hero p {
        font-size: 1em;
    }

    .cta-button {
        font-size: 0.9em;
        padding: 8px 18px;
    }

    .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
        padding-bottom: 0;
    }

    .funcionamento{
        padding-bottom: 10px;
    }

    .funcionamento h2 {
        font-size: 2.5em; 
    }

    .text-content p {
        font-size: 1em;
    }

    .points {
        font-size: 1em;
    }

    .polaroid{
        min-height: auto; 
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .polaroid img {
        max-width: 300px;
        position: static;
        transform: none;
        margin: 0 auto 10px auto;
        display: block;
    }

    .banner {
        white-space: nowrap;   
        font-size: 0.9em;      
        padding: 12px 0;
        width: 100vw;          
        margin-left: calc(50% - 50vw); 
        margin-right: calc(50% - 50vw);
        text-align: center;
    }

    .curiosidades h2 {
        font-size: 2.8em;
    }

    .galeria {
        flex-direction: column;
        gap: 40px;
    }

    .fotos {
        max-width: 100%;
    }

    .main-footer p {
        font-size: 0.9em;
    }
}
